
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FEF5E7;
  color: #34495E;
}

.box-wrapper {
    position: absolute;
    box-shadow: 0 0 0 2px #ffffffdd;
    outline: dashed 2px grey;
    width: 425px;
    height: 375px;
    top: 200px;
    left: 300px;
}

.element{
  border: 2px solid #1E88E5;
  position: absolute;
  background-color: #ffdadd;
}

#el1{
  top: 200px;
  left: 300px;
}

#el2{
  top: 200px;
  left: 550px;
}

#el3{
  top: 400px;
  left: 450px;
}


.dot {
  height: 10px;
  width: 10px;
  background-color: grey;
  position: absolute;
  border-radius: 100px;
  border: 1px solid white;
  user-select: none;
}

.dot.rotate {
  top: -30px;
  left: calc(50% - 5px);
  cursor: url('https://findicons.com/files/icons/1620/crystal_project/16/rotate_ccw.png'), auto;
}

.rotate-link {
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: grey;
  top: -23px;
  left: calc(50% + 0.5px);
  z-index: -1;
}